<h2><%= t('.title') %></h2>
<table>
  <tr>
    <th>Qty</th>
    <th>Item Name</th>
    <th>Total</th>
  </tr>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<% if !@page_is_orders %>
  <%= button_to t('.checkout'), new_order_path, method: :get %>
<% end %>


<%= button_to t('.empty'), cart, method: :delete %>
